body{
	background-image: url("../img/q7_bg.jpg");
	background-size: auto 100%;
	background-position: right center;
}

#map_btn{
	top: 30px;
	right: 5%;
}

#tip_btn{
	top: 150px;
	right: 5%;
}

.tip_btn_open{
	-webkit-transform: translate(-340%, -120px);
	transform: translate(-340%, -120px);
}

#content{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 65%;
	max-height: 55%;
	overflow: scroll;
}

#title{
	margin-bottom: 15px;
}

#selection{
	position: absolute;
	width: 50%;
	top: 70%;
	left: 15%;
}

.multiselect{
	display: block;
	margin: 10px auto;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	color: whitesmoke;
	background-color: rgb(234, 104, 116);
	box-shadow: 2px 2px 3px 3px rgba(100, 100, 100, 0.7);
}

.multiselect:hover{
	background-color: rgb(174, 194, 229);
}

#finish_close{
	background-image: url("../img/t7.png");
}